# ignore all files
*
# Except these ones
!.gitignore
!nvim/
!nvim/**
!btop/
!btop/**
!kitty/
!kitty/**
!fastfetch/
!fastfetch/**
!sway/
!sway/**
!waybar/
!waybar/**
!rofi/
!rofi/**
!backgrounds/
!backgrounds/**
